.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Adjust to your preference */
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.accordion-container {
  width: 50%; /* Adjust the width as needed */
}
